POSTGRES_USER=samarthya
POSTGRES_PASSWORD=nexuspass
POSTGRES_DB=samarthya_db

INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=adminpass
INFLUXDB_DB=energy_readings

SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440 
REFRESH_TOKEN_EXPIRE_DAYS=30

INVERTER_BRAND=mock
USE_MOCK=True
